/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #f8f9fa;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  color: #000;
}

/* Header */
.container {
  width: 100%;
  max-width: 114rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding: 0 3rem;
}

.container-footer {
  width: 114rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  background: #a14a76;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  transition: height 0.5s;
}

.header.active {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 7rem;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: baseline;
}

.logo h2 {
  font-weight: normal;
  font-size: 3.2rem;
}

.logo span {
  color: #a14a76;
  font-size: 3.2rem;
}

.nav-list {
  width: 50rem;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #757677;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid #757677;
}

/* Hero */
.hero {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #111;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.hero-text h2 {
  font-size: 3vw;
  color: white;
}

.hero-text h2 span {
  display: inline-block;
  text-transform: uppercase;
  background-color: #a14a76;
  padding: 5px;
  transform: rotate(-3deg);
}

.hero-text p {
  color: #f5f8fa;
  margin-top: 3rem;
}

.hero-text p span {
  font-size: 2rem;
  padding: 5px;
  background-color: #a14a76;
}

.hero-text a {
  display: inline-block;
  font-weight: bold;
  margin-top: 5rem;
  padding: 1rem 3rem;
  color: white;
  background-color: #a14a76;
  border-radius: 20px;
}

.hero-video {
  opacity: 0.2;
}

.hero-video video {
  width: 100% !important;
  height: 99vh !important;
  object-fit: cover;
}

.scroll-down {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
}

.scroll-down p {
  margin-top: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.fa-chevron-circle-down {
  font-size: 4rem;
  color: white;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Welcome */
.welcome {
  height: 90vh;
}

.title {
  margin-top: 5rem;
  font-size: 5rem;
  text-align: center;
}

.welcome-text-box {
  margin: 0 auto;
  margin-top: 10rem;
  width: 70rem;
}

.welcome-text-box p {
  line-height: 2;
  text-indent: 2rem;
}

.welcome-text-box p span {
  padding: 0.5rem 1rem;
  background-color: #a14a76;
  color: white;
}

.icons-row {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.icons-row > div {
  text-align: center;
}

.icons-row h2 {
  font-size: 4rem;
}

.icons-row p {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

.icon {
  font-size: 5rem;
  color: #a14a76;
  margin-bottom: 2rem;
}

/* Companii */
.companies {
  height: 100vh;
}

.companies h2 {
  text-align: center;
  padding-top: 15rem;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.companies-rows {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.companies-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  background-color: white;
  padding-bottom: 5rem;
  padding-top: 4rem;
}

.company img {
  width: 100px;
  filter: grayscale(100%);
  cursor: pointer;
}

/* Se lumineaza logo-urile */
.company img:hover {
  filter: grayscale(0%);
}

/* Regulament */
.rules h2 {
  margin-top: 15rem;
  text-align: center;
  font-size: 5rem;
}

.rules-text-box {
  margin: 0 auto;
  margin-top: 10rem;
  width: 70rem;
}

.rules-text-box p {
  line-height: 2;
  text-indent: 2rem;
}

.rules-paragraph {
  margin-bottom: 5rem;
  text-align: justify;
}

/* Footer */

.footer {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  z-index: 10;
  background: #fff;
  transition: height 0.5s;
  background: #a14a76;
  margin-top: 10rem;
}

.footer-icon {
  font-size: 3rem;
  color: white;
  padding-right: 2rem;
}

.copyright {
  color: white;
}
